
@font-face {
  font-family: 'yonkyblack_italic';
  src: url('/font/yonky-italic/yonky-black-italic-demoffp-webfont.woff2') format('woff2'),
       url('/font/yonky-italic/yonky-black-italic-demoffp-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


* {
  font-family: 'Roboto', sans-serif;
}*/

html, body {
  height: 100%;
}




body {
    margin: 0;
    font-size: 26px;
    text-decoration: none;
    min-height: 100%;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-image: url("/ImagesC/BKGRND/bkgrndhalft.jpg");
    background-size: 100%;
    background-attachment: fixed;

}
h1, h2, h3, h4 {
  font-family: 'yonkyblack_italic', Arial, Helvetica, sans-serif !important;
}
h1 { font-size: 60px; -webkit-text-stroke: 2px black; color: white !important;}
h2 { font-size: 50px; }
h3 { font-size: 40px; }
h4 { font-size: 30px; -webkit-text-stroke: 1.75px black; color: white !important }

strong {
  font-weight: 700;
}

.body-base {
  min-height: 100vh;
  background-color: rgba(244, 188, 25, .6);
}
  
  
  .text-center {
    text-align: center;
  }
  
  input[type='text'] {
    font-family: Arial;
  }

  .page-content {
    padding: 20px 0;
  }
  .nav a {
    text-decoration: none;
    }
  
  .card-heading {
    padding: 16px;
  }
  
  .field-line, .button-line {
    padding: 16px;
  }

  .map {
    margin-bottom: 120px;
  }

  .map button {
    color: #741012;
    background-color:white;
    border-radius: 3px;
    padding: 5px 50px;
  }

  .map button:hover {
    background-color: #741012;
    color: white;
    cursor: pointer;
  }
  
  .error-message {
    padding: 0 16px;
    color: tomato;
  }
  
  .success-message {
    padding: 0 16px;
    color: green;
  }

  .button {
    color: red;
    margin: 0 auto;
    cursor: pointer;
  }
  nav { 
    background-color: #F4BC19;
  }
  .navbar-brand {
    width: 65px;
    padding: 0.5rem;
  }

  .logobox-words {
    width: 100px;
 }
 .mr-auto {
   float: right !important;
 }
 .navbar-nav {
  
   width: 100px;
 }
 #signUpForm {
    margin: 0 auto;
    width: 25%;
  }

  #loginForm {
    margin: 0 auto;
    width: 25%;
  }

  .loginButton input {
    margin: 15px 10px 0px 0px;
    color: #741012;
    border-radius: 3px;
    border-color: solid 1px #F4BC19;
    padding: 10px;
    
  }

  .loginButton input:hover {
    background-color: #741012;
    color:white;
    cursor: pointer;
  }

  .go2SignUp h4 {
    font-size: 14px;
    padding-top: 15px;
  }

  .footer-copyright {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    margin-top: 80px;
    color:#741012;
    font-weight: bold;
    background-color: #F4BC19;
  }

  .food-truck-image {
    max-width: 300px;
    border: 5px solid #741012;
    height: auto;
  }
  .btn-danger {
    background-color: #741012 !important;
  }
  .btn {
    transition: 500ms all ease-in-out;
  }

  .btn:hover {
    color: #741012 !important;
    background-color: rgba(255, 255, 255, .6) !important;
  }
  h1.heading-title {
    line-height: 80px;
    margin-left: -20px;
    border-bottom: 2px solid #741012;
  }
  form {
    margin-top: 20px;
  }
  .success {
    padding: 10px;
    background-color: green;
    color: white !important;
    border-radius: 10px;
  }
  .input-form {
    background-color: rgba(255, 255, 255, .8);
    padding: 50px;
    border: 3px solid #741012;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0 0 10px black;
  }
  .infowindow-title {
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
    background-color: #F4BC19;
    color: white;
    margin: 0;
    border-radius: 2px 2px 0 0;
  }
  img.food-truck-display {
    margin: 10px;
    margin-right: none;
    width: 365px;
    height: auto;
  }
  .infowindow-body {
    font-size: 18px;
  }
  .form-inline {
    justify-content: center;
  }
@media only screen and (max-width: 1024px) {
  #signUpForm {
    margin: 0 auto;
    width: 65%;
  }

  #loginForm {
    margin: 0 auto;
    width: 65%;
  }
  
}  

@media only screen and (max-width: 622px) {
  #signUpForm {
    margin: 0 auto;
    width: 95%;
  }

  #loginForm {
    margin: 0 auto;
    width: 95%;
  }
  
}

 
  
